
.ant-select-selection-search-input, .ant-select-selection-placeholder {
  height: 48px !important;
  display: flex !important;
  align-items: center !important;
  text-align: center !important;
}
.ant-input {
  height: 48px;
  &:hover,
  &:focus {
    border-color: $primary-color !important;
   box-shadow: 0 0 0 2px rgba(255, 138, 5, 0.1);
  }
}

.ant-input-password, .ant-input-affix-wrapper-focused {
  .ant-input {
    height: 38px;
  }
  &:hover,
  &:focus {
    border-color: $primary-color !important;
    box-shadow: 0 0 0 2px rgba(255, 138, 5, 0.1);
  }
}

.ant-input-affix-wrapper-focused {
  border-color: $primary-color !important;
  box-shadow: 0 0 0 2px rgba(255, 138, 5, 0.1);
}

.ant-picker, .ant-input-number-input {
  height: 48px !important;
}
